<div class="bar">
	<a class="list-icon" ng-class="{active: layout == 'List'}" ng-click="layout = 'List'"></a>
	<a class="table-icon" ng-class="{active: layout == 'Table'}" ng-click="layout = 'Table'"></a>
</div>

<div class="list-group" data-ng-show="layout == 'List'" data-ng-repeat="submission in submissions">
	<a href="#/submissions"  ng-click="showData(submission.data);" class="list-group-item">
		<h4 class="list-group-item-heading">Name: {{submission.name}}</h4>
		<p class="list-group-item-text">Description: {{submission.description}}</p>
		<p class="list-group-item-text">Country: {{submission.country}}</p>
		<p class="list-group-item-text">Date: {{submission.date}}</p>		
	</a>
</div>

<table class="table table-condensed" data-ng-show="layout == 'Table'">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Country</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody data-ng-repeat="submission in submissions">
		<tr>
			<td>{{submission.name}}</td>
			<td>{{submission.description}}</td>
			<td><a class="btn" ng-model="search.$" ng-click="filterBy()">{{submission.country}}</a></td>
			<td>{{submission.date}}</td>
			<td><button class="btn btn-primary pull-right" ng-click="showData(submission.data);">Data</button></td>
		</tr>
	</tbody>
</table>