OnlineTaxAngular/app/node_modules/
OnlineTaxAngular/app/npm-debug.log
OnlineTaxAngular.v12.suo
OnlineTaxAngular/OnlineTaxAngular.csproj.user
OnlineTaxAngular/Scripts/vendor/
OnlineTaxAngular/app/components/
OnlineTaxAngular/bin/
OnlineTaxAngular/obj/
packages/
.OnlineTaxAngular.boltdata/
